# Environments
.venv/
venv/
ENV/
env/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
.coverage.*

# OS Metadata & Configs
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Secrets & Local Storage
.env
